<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
    <nav>
        <a href="#" class="logo">
            <img class="logo_img" src="./assets/img/copa.jpg" alt="copa mundial de futbol soccer">
        </a>
        <h1 class="anfitrion">MUNDIAL QATAR 2022</h1>
        <div>
            <a href="#" class="menu">Inicio</a>
            <a href="#" class="menu">Nosotros</a>
            <a href="#" class="menu">Contacto</a>
        </div>
    </nav>
    <header>
        <div class="contenedores">
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo A</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/qatar.jpg" alt=""><h5 class="pais">Qatar</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/ecuador.jpg" alt=""><h5 class="pais">Ecuador</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/senegal.jpg" alt=""><h5 class="pais">Senegal</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/paisesBajos.jpg" alt=""><h5 class="pais">Paises Bajos</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo B</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/eu.jpg" alt=""><h5 class="pais">Estados Unidos</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/gales.jpg" alt=""><h5 class="pais">Gales</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/inglaterra.jpg" alt=""><h5 class="pais">Inglaterra</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/iran.jpg" alt=""><h5 class="pais">Iran</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo C</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/mexico.jpg" alt=""><h5 class="pais">Mexico</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/Polonia.jpg" alt=""><h5 class="pais">Polonia</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/argentina.jpg" alt=""><h5 class="pais">Argentina</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/arabaia.jpg" alt=""><h5 class="pais">Arabia</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo D</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/francia.jpg" alt=""><h5 class="pais">Francia</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/australia.jpg" alt=""><h5 class="pais">Autralia</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/dinamarca.jpg" alt=""><h5 class="pais">Dinamarca</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/tunez.jpg" alt=""><h5 class="pais">Tunez</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo E</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/españa.jpg" alt=""><h5 class="pais">España</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/costaRica.jpg" alt=""><h5 class="pais">Costa Rica</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/alemania.jpg" alt=""><h5 class="pais">Alemania</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/japon.jpg" alt=""><h5 class="pais">Japon</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo F</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/belgica.jpg" alt=""><h5 class="pais">Belgica</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/canada.jpg" alt=""><h5 class="pais">Canada</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/marruecos.jpg" alt=""><h5 class="pais">Marruecos</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/croacia.jpg" alt=""><h5 class="pais">Croacia</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo G</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/brasil.jpg" alt=""><h5 class="pais">Brasil</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/serbia.jpg" alt=""><h5 class="pais">Serbia</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/suiza.jpg" alt=""><h5 class="pais">Suiza</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/camerun.jpg" alt=""><h5 class="pais">Camerun</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo H</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/portugal.jpg" alt=""><h5 class="pais">Portugal</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/ghana.jpg" alt=""><h5 class="pais">Ghana</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/uruguay.jpg" alt=""><h5 class="pais">Uruguay</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="./assets/img/coreaDelSur.jpg" alt=""><h5 class="pais">Republica de Corea</h5>
                </div>
            </div>
        </div>
    </header>
</body>
</html>