{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/mundial/static/css/stiloGrupos.css">
</head>
<body>
    <nav>
        <a href="#" class="logo">
            <img class="logo_img" src="/mundial/static/imagenes/banderas/copa.jpg" alt="copa mundial de futbol soccer">
        </a>
        <h1 class="anfitrion">MUNDIAL QATAR 2022</h1>
        <div>
            <a href="#" class="menu">Inicio</a>
            <a href="#" class="menu">Nosotros</a>
            <a href="#" class="menu">Contacto</a>
        </div>
    </nav>
    <header>
        <div class="contenedores">
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo A</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/qatar.jpg" alt=""><h5 class="pais">Qatar</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/ecuador.jpg" alt=""><h5 class="pais">Ecuador</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/senegal.jpg" alt=""><h5 class="pais">Senegal</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/paisesBajos.jpg" alt=""><h5 class="pais">Paises Bajos</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo B</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/eu.jpg" alt=""><h5 class="pais">Estados Unidos</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/gales.jpg" alt=""><h5 class="pais">Gales</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/inglaterra.jpg" alt=""><h5 class="pais">Inglaterra</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/iran.jpg" alt=""><h5 class="pais">Iran</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo C</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/mexico.jpg" alt=""><h5 class="pais">Mexico</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/Polonia.jpg" alt=""><h5 class="pais">Polonia</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/argentina.jpg" alt=""><h5 class="pais">Argentina</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/arabaia.jpg" alt=""><h5 class="pais">Arabia</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo D</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/francia.jpg" alt=""><h5 class="pais">Francia</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/australia.jpg" alt=""><h5 class="pais">Autralia</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/dinamarca.jpg" alt=""><h5 class="pais">Dinamarca</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/tunez.jpg" alt=""><h5 class="pais">Tunez</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo E</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/españa.jpg" alt=""><h5 class="pais">España</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/costaRica.jpg" alt=""><h5 class="pais">Costa Rica</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/alemania.jpg" alt=""><h5 class="pais">Alemania</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/japon.jpg" alt=""><h5 class="pais">Japon</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo F</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/belgica.jpg" alt=""><h5 class="pais">Belgica</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/canada.jpg" alt=""><h5 class="pais">Canada</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/marruecos.jpg" alt=""><h5 class="pais">Marruecos</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/croacia.jpg" alt=""><h5 class="pais">Croacia</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo G</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/brasil.jpg" alt=""><h5 class="pais">Brasil</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/serbia.jpg" alt=""><h5 class="pais">Serbia</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/suiza.jpg" alt=""><h5 class="pais">Suiza</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/camerun.jpg" alt=""><h5 class="pais">Camerun</h5>
                </div>
            </div>
            <div class="contenedor">
                <div class="grupo">
                    <h3>Grupo H</h3>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/portugal.jpg" alt=""><h5 class="pais">Portugal</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/ghana.jpg" alt=""><h5 class="pais">Ghana</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/uruguay.jpg" alt=""><h5 class="pais">Uruguay</h5>
                </div>
                <div class="caja">
                    <img class="bandera" src="/mundial/static/imagenes/banderas/coreaDelSur.jpg" alt=""><h5 class="pais">Republica de Corea</h5>
                </div>
            </div>
        </div>
        <a href="/mundial/equipos/templates/plantilla.html">Selecciones</a>
    </header>
</body>
</html>